In [5]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [6]:
import pandas as pd
import numpy as np

In [7]:
tips = pd.read_csv('../datasets/tips.csv')

tips['tips_pct'] = tips['tip'] / tips['total_bill']
tips.head()

   total_bill   tip smoker  day    time  size  tips_pct
0       16.99  1.01     No  Sun  Dinner     2  0.059447
1       10.34  1.66     No  Sun  Dinner     3  0.160542
2       21.01  3.50     No  Sun  Dinner     3  0.166587
3       23.68  3.31     No  Sun  Dinner     2  0.139780
4       24.59  3.61     No  Sun  Dinner     4  0.146808

In [8]:
grp_i = tips.groupby('smoker', group_keys = False)
grp_i

In [9]:
def top_sorted_rows(df, column_name = 'tips_pct', n=5):
    
    sorted_df = df.sort_values(by = 'tips_pct', axis = 'index')
    
    return sorted_df[-n:]

In [10]:
result_i = grp_i.apply(top_sorted_rows)
result_i

     total_bill   tip smoker   day    time  size  tips_pct
88        24.71  5.85     No  Thur   Lunch     2  0.236746
185       20.69  5.00     No   Sun  Dinner     5  0.241663
51        10.29  2.60     No   Sun  Dinner     2  0.252672
149        7.51  2.00     No  Thur   Lunch     2  0.266312
232       11.61  3.39     No   Sat  Dinner     2  0.291990
109       14.31  4.00    Yes   Sat  Dinner     2  0.279525
183       23.17  6.50    Yes   Sun  Dinner     4  0.280535
67         3.07  1.00    Yes   Sat  Dinner     1  0.325733
178        9.60  4.00    Yes   Sun  Dinner     2  0.416667
172        7.25  5.15    Yes   Sun  Dinner     2  0.710345